.header{
    height: 90px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;

    div{
        width: 100%;
        margin-left: 4vmax;

        a{
            color: white;
            text-decoration: none;
            margin: 2vmax;
            font-size: 1.3rem;
            font-weight: 300;
        }
    }

    svg{
        color: white;
        font-size: 2rem;
        cursor: pointer;
    }

    svg:hover{
        color: gray;
    }

}

.header img{
    height: 100%;
}